.panel-title > a:link,
.panel-title > a:visited {
	color: #337ab7;
}

.list-group-item-heading {
	font-size: 1em;
	font-weight: bold;
}

/* ユーザーアイコン */
.user img {
	max-height: 1em;
	margin-right: 0.2em;
}

/* フォーム 必須の表示 */
.label.label-primary.required {
	position: absolute;
	top: 7px;
	right: -3em;
}

/* 値の複数のリスト */
div.including-multiple-values,
.including-multiple-values > div {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.including-multiple-values dt {
	margin-bottom: 0;
}
.including-multiple-values dt,
.including-multiple-values dd {
	margin-right: 1em;
}
.including-multiple-values.including-labels dt,
.including-multiple-values.including-labels dd {
	margin-right: 0.2em;
}

/* 語数 */
.panel-heading.panel-title > .badge:last-of-type {
	float: right;
}
dl.badge {
	margin-bottom: 0;
}
dl.badge * {
	display: inline;
}
dl.badge dt {
	margin-right: 0.5em;
}

/* ダウンロード */
dd.btn-group {
	padding-left: 0;
	display: flex;
}
dd.btn-group:first-of-type:not(:only-of-type) > .btn:first-of-type {
	border-bottom-left-radius: 0;
}
dd.btn-group ~ dd.btn-group > .btn {
	border-top: none;
}
dd.btn-group ~ dd.btn-group > .btn:first-of-type {
	border-top-left-radius: 0;
}
dd.btn-group ~ dd.btn-group > .btn:last-of-type {
	border-top-right-radius: 0;
}

/* お題の表示 */
.many-columns {
	width: calc(100vw - 2em);
	position: relative;
	left: calc(-1 * (100vw - 2em) / 2 + 100% / 2);
}
