/*====================================
	サイト全体に適用されるスタイル
*/

/*------------------------------------
	リンク色
*/
.panel-title > a:link,
.panel-title > a:visited {
	color: #337ab7;
}

/*------------------------------------
	ユーザーアイコン
*/
.user img {
	max-height: 1em;
	margin-right: 0.2em;
}

/*------------------------------------
	辞書の語数
*/
.panel-heading.panel-title > .badge:last-of-type {
	float: right;
}
dl.badge {
	margin-bottom: 0;
}
dl.badge * {
	display: inline;
}
dl.badge dt {
	margin-right: 0.5em;
}

/*------------------------------------
	ボタン風ダウンロードリンク
*/
dd.btn-group {
	padding-left: 0;
	display: flex;
}
dd.btn-group:first-of-type:not(:only-of-type) > .btn:first-of-type {
	border-bottom-left-radius: 0;
}
dd.btn-group ~ dd.btn-group > .btn {
	border-top: none;
}
dd.btn-group ~ dd.btn-group > .btn:first-of-type {
	border-top-left-radius: 0;
}
dd.btn-group ~ dd.btn-group > .btn:last-of-type {
	border-top-right-radius: 0;
}

/*------------------------------------
	お題の表示
*/
.many-columns {
	width: calc(100vw - 2em);
	position: relative;
	left: calc(-1 * (100vw - 2em) / 2 + 100% / 2);
}

/*------------------------------------
	注釈メッセージのアイコン化
*/
.message-icon {
	cursor: default;
}

/*------------------------------------
	ページャーの位置
*/
.pagination {
	display: flex;
	justify-content: center;
}

/*====================================
	Bootstrapの修正
*/

/*------------------------------------
	ボタン内アイコンのマージン
*/
.fa-btn {
	margin-right: 6px;
}

/*------------------------------------
	無効化ボタンの色を薄く
*/
button[disabled] {
	color: #6D6D6D;
}

/*------------------------------------
	Bug fix
*/
legend.panel-heading {
	float: left;
}
label.form-group {
	display: block;
}

/*------------------------------------
	フッター
*/
.footer.navbar {
	margin-bottom: 0;
}

/*------------------------------------
	リスト・グループの見出し
*/
.list-group-item-heading {
	font-size: 1em;
	font-weight: bold;
}

/*------------------------------------
	ログアウトボタン
*/
.dropdown-menu > li button {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	
	background: none;
	border: none;
	width: 100%;
	text-align: left;
}
.dropdown-menu > li button:focus,
.dropdown-menu > li button:hover {
	color: #262626;
	text-decoration: none;
	background-color: #E8E8E8;
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
	background-repeat: repeat-x;
}

/*------------------------------------
	フォーム 必須の表示
*/
.label.label-primary.required {
	position: absolute;
	top: 7px;
	right: -3em;
}

/*------------------------------------
	値の複数のリスト
*/
div.including-multiple-values,
.including-multiple-values > div {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.including-multiple-values dt {
	margin-bottom: 0;
}
.including-multiple-values dt,
.including-multiple-values dd {
	margin-right: 1em;
}
.including-multiple-values.including-labels dt,
.including-multiple-values.including-labels dd {
	margin-right: 0.2em;
}

/*====================================
	コンテナの幅を固定
	
	.container の幅について
		• Large devices       — Medium devices と同じ固定幅に
		• Medium devices      — そのまま
		• Small devices       — Extra small devices と同じ全幅に
		• Extra small devices — そのまま
*/
.container {
	width: auto;
	max-width: 970px;
}
