@namespace url("http://www.w3.org/1999/xhtml");

/*====================================
	辞書の概要 (ダウンロード)
*/
/*------------------------------------
	クリップボードにコピー
*/
#copy-buttons ul {
	list-style: none;
}

[name="copy"] {
	margin-bottom: 0.3em;
}
[name="copy"] .fa {
	margin-right: 0.5em;
}

