<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteBase /dictionary-wiki

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

Require all granted
<Files *.php>
    Require all granted
</Files>
<FilesMatch ^\.|^web\.config$>
    Require all denied
</FilesMatch>

<Files *>
    # Internet Explorer における互換表示の防止
    Header always unset x-ua-compatible
    Header unset x-ua-compatible

    # Internet Explorer における content-type 無視の防止
    Header always set x-content-type-options nosniff
    Header unset x-content-type-options

    # Content Security Policy の設定
    Header always set content-security-policy "default-src 'none'; frame-ancestors 'none'; style-src 'self' https://fonts.googleapis.com/css; img-src 'self' https://*.githubusercontent.com/u/ https://graph.facebook.com/ https://scontent.xx.fbcdn.net/ https://*.googleusercontent.com/ https://pbs.twimg.com/profile_images/ https://abs.twimg.com/sticky/default_profile_images/; media-src 'self'; script-src 'self'; connect-src 'self'; font-src https://maxcdn.bootstrapcdn.com/font-awesome/ https://maxcdn.bootstrapcdn.com/bootstrap/ https://fonts.gstatic.com/s/raleway/"
    <If "file(%{CONTEXT_DOCUMENT_ROOT} . '/../.env') -strcmatch '*APP_DEBUG=true*'">
        # symfony/debug <https://github.com/symfony/debug/blob/v3.2.2/ExceptionHandler.php#L338>、
        # および barryvdh/laravel-debugbar 用の設定
        Header always edit* content-security-policy img-src|font-src "$0 data:"
        Header always edit* content-security-policy script-src "$0 'unsafe-inline'"
        Header always edit* content-security-policy style-src "$0 'unsafe-inline'"

        # filp/whoops <https://github.com/filp/whoops/blob/2.1.10/src/Whoops/Resources/js/whoops.base.js#L35> 用の設定
        Header always edit* content-security-policy script-src "$0 cdnjs.cloudflare.com/ajax/libs/prettify/"

		# Faker\Provider\Image 用の設定
        Header always edit* content-security-policy img-src "$0 http://lorempixel.com/"
    </If>
    Header unset content-security-policy

    # Content Security Policy に対応していないブラウザ向けのクリックジャッキング対策
    Header always set x-frame-options DENY
    Header unset x-frame-options
</Files>

# アップロード容量の拡張
php_value post_max_size 64M
php_value upload_max_filesize 32M
php_value max_file_uploads 100

# 符号化方式に関するセキュリティの確保
php_value default_charset none
php_value mbstring.internal_encoding none
php_value mbstring.http_input none
php_value mbstring.http_output none
php_value mbstring.substitute_character 0xFFFD
php_flag mbstring.encoding_translation on
